<!DOCTYPE html>

<p>
<div class="container">  <!-- container class 가 페이지의 컨텐츠영역을 지정 -->
    <div class="jumbotron" style="width:400px; margin:auto">

        <div class="boxbox" style='width:300px; margin:auto'>
            <form accept-charset="UTF-8" method="post" action="/product/purchase">
                <h2>구매 페이지</h2>
                <hr>
                <% prodata.forEach(function (item) { %>
                    <div class="shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 18rem; max-height: 26rem">
                        <div class="card-header bg-transparent"><strong><%= item.pname %> </strong>
                            <small> [<%= item.maker %>] </small>
                        </div>

                        <div class="card-body text-primary">
                            <div>
                                <img class="img-fluid" src=<%= item.pic %>>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent">
                            가격: <%= item.price %>원
                        </div>
                    </div>
                    <div class="shadow-lg p-3 mb-3 bg-white rounded">
                        수량
                        <input type="text" class="form-control" name="howmany">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAddress">주소</label>
                        <input type="text" class="form-control" name="address" id="address" placeholder="집주소를 입력하세요.">
                    </div>
                    <div class="shadow-lg p-3 mb-3 bg-white rounded">
                        <h4><%= item.event %></h4>
                        할인율 : <%= item.dcrate %>%
                        <%
                            discount_price = item.price - item.price * (item.dcrate / 100);
                        %>
                        <br>
                        할인가 : <%= discount_price %>
                    <p>재고: </p>
                    <input type="text" class="form-control" name="amount" value=<%= item.amount %> readonly>

                    </div>


                    <div class="shadow-lg p-3 mb-3 bg-white rounded">
                        <p>현재 보유 포인트</p>
                        <input type="text" class="form-control" value=<%= point %> readonly>

                    </div>
                    <div class="shadow-lg p-3 mb-3 bg-white rounded">
                        <p> 구매 후 보유 포인트</p>

                        <!-- 보유 포인트가 더 적다면, 0으로 표기한다. -->
                        <%
                            point = point - discount_price
                            if (point < 0) {
                                point = 0
                            }
                        %>
                        <input type="text" class="form-control" name="point" value=<%= point %> readonly>
                    </div>

                    <input type="text" name="modelnum" value=<%= item.modelnum %> hidden>
                    <input type="text" name="price" value=<%= discount_price %> hidden>

                    <button type="submit" class="btn btn-primary p-3">구매확정</button>

                <% }) %>

            </form>
        </div>

    </div>  <!-- jumbotron -->
</div> <!-- /.container -->
