<!DOCTYPE html>
 <!--  Content (배너이미지) 부분 -->
  <div> <img src="/images/banner1.png" class="img-fluid" alt="배너이미지" width="100%"> </div>
<div class="container mx-auto m-5 p-3 bg-primary w-50 shadow">
<% prodata.forEach(function (item, index) { %>
<h3 class="text-center" style="color:white; margin:3px;"><%= item.pname %></h3>
<% }); %>

  <div class="container">
   <div class="row align-items-start">
    <% prodata.forEach(function (item, index) { %>
        <div class=col-4>

     <div class="card border-primary">
        <div class="card-header bg-transparent border-primary"><strong><%= item.pname %> </strong> <small> [<%= item.maker %>] </small></div>
        <div class="card-body text-primary">
            <div> <img class="img-fluid" src=<%=item.pic %> > </div>
       <p class="card-text">좋은상품입니다
        </div>
        <div class="card-footer bg-transparent">가격 : <%= item.price %>원</br>상품코드 : <%= item.modelnum %> </div>
        <div class="bg-transparent" style="padding:3px;">&nbsp;&nbsp;<button type=button class="btn btn-primary">구매하기</button>
                                             <button type=button class="btn btn-warning">구매후기</button> </div>
      </div>

      </div>
   <% }); %>
  </div>
</div>
</div>
